<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- VO 풀네임이 너무 길어 별칭 부여 -->
<!-- 	<typeAliases>
		<typeAlias type="com.spring.client.board.vo.BoardVO" alias="board" />
		<typeAlias type="com.spring.client.reply.vo.ReplyVO" alias="reply" />
	</typeAliases> -->
	
	<typeAliases>
		<typeAlias type="com.spring.admin.nboard.vo.NboardVO" alias="nboard"/>
		<typeAlias type="com.spring.admin.admin.vo.AdminVO" alias="admin"/>
	</typeAliases>

</configuration>