<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.admin.nboard.vo.NboardVO" alias="nboard"/>
		<typeAlias type="com.spring.admin.admin.vo.AdminVO" alias="admin"/>
		<typeAlias type="com.spring.admin.aMember.vo.AmemberVO" alias="amember"/>
		<typeAlias type="com.spring.admin.aReview.vo.AreviewVO" alias="areview"/>
		<typeAlias type="com.spring.admin.aQna.vo.AqnaVO" alias="aqna"/>
		<typeAlias type="com.spring.admin.aReply.vo.AreplyVO" alias="areply"/>
		<typeAlias type="com.spring.admin.aOder.vo.AorderVO" alias="aorder"/>
	</typeAliases>

</configuration>